/* General Styles for the 404 Page */
body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.error-container {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.container {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  box-shadow: 0 0px 60px rgba(0, 0, 0, 1);
  text-align: center;
  backdrop-filter: blur(15px);
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
  height: 385px;
  width: 550px;
  position: relative;
  overflow: hidden;
  color: white;
}

.container:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);
}

.container h1 {
  font-size: 100px;
  color: #fff;
  margin-top: 40px;
  text-shadow: 0 0 200px #fff, 0 0 60px #fff, 0 0 3px #fff;
}

.container p {
  font-size: 18px;
  text-align: center;
  margin-bottom: 50px;
  margin-top: -10px;
  flex-grow: 1;
}

.container a {
  font-size: 16px;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  padding: 9px 16px;
  border-radius: 12px;
  transition: all 0.3s ease;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 40px;
}

.container a:hover {
  transform: scale(1.03);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.8), 0 0 15px rgba(255, 255, 255, 0.7);
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease;
  z-index: -1;
}

.container:hover::before {
  background: rgba(0, 0, 0, 0.3);
}

@media (max-width: 600px) {
  .container {
    width: 75%;
    height: auto;
    padding: 20px;
  }

  .container h1 {
    font-size: 80px;
  }

  .container p {
    font-size: 16px;
  }

  .container a {
    font-size: 14px;
  }
}
